body{
    background-color: white;
    margin: 0;
    padding: 0;
    
}

#header{
    background-color: #F44336;
    text-align: center;
    font-size: 1.5em;
    color: white;
	margin-bottom: 1em;
}

.slider{
    margin: 0 auto;
    text-align: center;
	height: 220px !important;
	overflow: hidden;
}

.slider p{
    font-size: 1.5em;
    
}

.buttonContainer{
    width: 100%;
    height: auto;
    
}

.btn{
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-left: 25%;
}

.output{
    display: none;
}

.output p{
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

#dataOverview{
    font-size: 2em;
    height: 35px;
    background-color: aqua;
}


.temperature-table {
	width: 50%;
	min-width: 120px;
	margin: auto;
}

.row .btn{
    display: block;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-top: 6%;
    line-height: 35px;
    text-align: center;
    border-color: #FF4081;
    border-radius: 0;
    background-color: #FF4081;
    vertical-align: middle;
}