body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    background-color: #F44336;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.buttonContainer {
    width: 100%;
    height: auto;
}

.btn {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-left: 25%;
}

.output {
    display: none;
}

.output p {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

#dataOverview {
    font-size: 2em;
    height: 35px;
    background-color: aqua;
}

.temperature-table {
    width: 50%;
    min-width: 120px;
    margin: auto;
}

.temperature-table td {
    text-align: right;
}

.row .btn {
    display: block;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-top: 6%;
    line-height: 35px;
    text-align: center;
    border-color: #FF4081;
    border-radius: 0;
    background-color: #FF4081;
    vertical-align: middle;
}

/*CSS for the Week buttons*/

.acc-container {
    width: 90%;
    margin: 5px auto 0 auto;
    overflow: hidden;
}

.acc-btn {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10%;
}

.acc-btn h1 {
    text-align: center;
    background-color: #FF4081;
    color: white;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.acc-content {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.acc-content-inner {
    padding: 30px;
}

.open {
    height: auto;
}

.selected {
    margin-top: 0px;
}


.slider {
    margin: 0 auto;
    text-align: center;
    height: 180px !important;
	position: relative;
}

#tempInputReadonly {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 1000;
}

#tempInputDisplay {
	height: 100px;
	text-align: center;
	position: relative;
	top: -150px;
	bottom: 0;
	z-index: 100;
	color: #F44336;
	width:100px;
	margin: auto;
}

#tempInputTitle { 
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 80px;
}

#tempInputFormatted {
	font-size: 300%;
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0px;
	bottom: 30px;
	line-height: 50px;
}

#tempInputFormatted > small {
	font-size: 45%;
}

#tempCurrent {
	width: 240px;
	margin: auto;
}

#programButtons {
	text-align: center;
	padding: 20px;
}

/* override primary button colors */
.btn-primary {
	background-color: #F44336 !important;
	border-color: #DD3A2E !important;
}

.btn-primary:focus, .btn-primary:active {
	background-color: #EA4438 !important;
	border-color: #D62A1D !important;
}

.btn-primary:hover {
	background-color: #F9584D !important;
	border-color: #E54237 !important;
}