body {
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    background-color: #F44336;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

#header img{
    position: absolute;
    left: 0;
}

#header p{
    display: inline-block;
    text-align: center;
    margin: 0;
}

.buttonContainer {
    width: 100%;
    height: auto;
}

.btn {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-left: 25%;
}

.output {
    display: none;
}

.output p {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

#dataOverview {
    font-size: 2em;
    height: 35px;
    background-color: aqua;
}

.temperature-table {
    width: 50%;
    min-width: 120px;
    margin: auto;
}

.temperature-table td {
    text-align: right;
}

.row .btn {
    display: block;
    height: 50px;
    width: 90%;
    margin-left: 5%;
    margin-top: 6%;
    line-height: 35px;
    text-align: center;
    border-color: #FF4081;
    border-radius: 0;
    background-color: #FF4081;
    vertical-align: middle;
}

/*CSS for the Week buttons*/

.acc-container {
    width: 90%;
    margin: 5px auto 0 auto;
    overflow: hidden;
}

.acc-btn {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10%;
}

.acc-btn h1 {
    text-align: center;
    background-color: #FF4081;
    color: white;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.acc-content {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.acc-content-inner {
    padding: 30px;
}

.open {
    height: auto;
}

.selected {
    margin-top: 0px;
}


#tempInput {
	display: block;
	width: 80%;
	margin: auto !important;
}

.slider {
	width: 100% !important;
}

.container-dashboard {
	width: 80%;
	margin: 16px auto;
}

#tempInputSlider .slider-handle {
	background: #F44336 !important;
}

#tempInputSlider .slider-selection {
	background: #F2A9A4;
}

#tempTargetFormatted {
	color: #F44336;
	font-size: 200%;
	text-align: center;
}

#tempCurrent {
	width: 100%;
}

#programButtons {
	text-align: center;
	padding: 20px;
}

/* override primary button colors */
.btn-primary {
	background-color: #F44336 !important;
	border-color: #DD3A2E !important;
}

.btn-primary:focus, .btn-primary:active {
	background-color: #EA4438 !important;
	border-color: #D62A1D !important;
}

.btn-primary:hover {
	background-color: #F9584D !important;
	border-color: #E54237 !important;
}

.acc-content-inner > p{
    display: block;
    width: 100%;
    line-height: 35px;
    text-align: center;
    border-color: #FF4081;
    border-radius: 0;
    background-color: #FF4081;
    vertical-align: middle;
    color: white;
}

.addSwitchBtn{
    color: white;
    background-color: #FF4081;
    cursor: pointer;
}

#sendSwitch{
    margin-top: 10px;
}

.inputField{
    display: inline-block;
    width: 49%;
}

.fromToContainer{
    visibility: hidden;
}

.removeEdit{
    width: 100%;
    display: inline-flex;
}

.removeEdit > p {
    width: 100%;
    line-height: 35px;
    text-align: center;
    border-radius: 0;
    background-color: #FF4081;
    vertical-align: middle;
    color: white;
}

.removeBtn{
    width: 20%;
    height: 100%;;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 35px;
    border: 0;
    border-radius: 0;
}